#buyer{
    margin-top: 4rem;
    display: flex;
    gap: 20px;
    padding: 20px;
}

#buyer .left{
    width: 20vw;
    height: 50vh;
    background-color: red;
    color: red;
    background-color: #454640;
    border-radius: 12px;
    min-width: 300px;
}

#buyer .right{
    width: 80vw;
    height: 50vh;
    background-color: blue;
    background-color: #454640;
    border-radius: 12px;
}

