#checkout-page{
    padding-top: 5rem;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.heading img{
    width: 50px;
}

.checkout-container{
    width: 80%;
    margin: 0 auto 20px auto;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.3);
    border-radius: 12px;
    padding: 20px;
}

.checkout-container h2{
    font-size: 2rem;
    text-align: center;
}

.checkout-container .product-item img{
    width: 80px;
    border-radius: 8px;
}

.checkout-container .product-table-head{
    background-color: rgb(221, 221, 221);
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.checkout-container .product-table-head span{
    width: 25%;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.checkout-container .product-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
    padding: 20px;
    border-radius: 8px;
}

.checkout-container .product-list .product-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(50, 50, 50);
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.checkout-container .product-list .product-item .img-name{
    width: 25%;
}

.checkout-container .product-list .product-item p{
    width: 25%;
    text-align: center;
}

.user-info{
    background-color: rgb(221, 221, 221);
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
}

.user-info h3{
    font-size: 1.5rem;
}

.user-info .user-wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.user-info .user-wrapper img{
    width: 30px;
}

.user-info p{
    margin: 10px 0;
}


.user-info .cod{
    background-color: rgb(24, 24, 24);
    color: white;
    display: inline-block;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
}

.user-info .edit-info{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #57a8ff;
    text-decoration: underline;
}

.btn-container{
    background-color: rgb(221, 221, 221);
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn-container .confirm-btn{
    background-color: #8892BF;
    color: white;
    border: 2px solid #8892BF;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
}

.btn-container .edit-btn{
    background-color: #ffffff00;
    color: rgb(28, 28, 28);
    border: 2px solid rgb(30, 30, 30);
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
}

.cool-btn{
    transition: .4s;
}

.cool-btn:hover{
    cursor: pointer;
    transform: scale(105%) translateY(-5px);
}

.cool-btn:active{
    transform: scale(95%) translateY(0px);
    opacity: .5;
}

.total-container{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
}
.total-container .total{
    font-size: 2rem;
    font-weight: 600;
}

#checkout-result{
    padding: 5rem;
    min-height: 100vh;
    height: auto;
}

#checkout-result .container{
    background-color: #f5f5f5;
    padding: 50px 20px;
    border-radius: 8px;
    width: 40%;
    min-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.2);
}

#checkout-result img{
    width: 120px;
    margin-bottom: 20px;
}


#checkout-result .success-green{
    color: rgb(34, 197, 34);
}

#checkout-result .failed-red{
    color: #eb4d4d;
}

#checkout-result .return{
    background-color: #95a0d0;
    border: 2px solid #95a0d0;
    display: block;
    width: 40%;
    min-width: 500px;
    margin: 10px auto 10px auto;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);

}

#checkout-result .more{
    background-color: #00000000;
    border: 2px solid rgb(29, 29, 29);
    color: rgb(28, 28, 28);
    display: block;
    width: 40%;
    min-width: 500px;
    margin: 10px auto 10px auto;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);

}
