@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #202020; /* Soft light gray for a clean and modern look */
    position: relative; /* Ensure the pseudo-element is positioned relative to the body */
    z-index: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dbdbdb' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    opacity: 0.2; /* Subtle background image for texture */
    z-index: -1; /* Place the pseudo-element behind the content */
}

#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}
  
.toast {
    padding: 15px 30px;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadein 0.5s, fadeout 0.5s 5.5s;
    font-family: sans-serif;
    box-shadow: 0px 2px 30px 6px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.toast.error span, .toast.banned span{
    color: red;
}

.toast.success {
    background-color: #e6f9ec; 
    color: #2e7d32;            
    border: 1.5px solid #81c784; 
}

.toast.error, .toast.banned {
    background-color: #fdecea;      
    color: #780000;                
    border: 1.5px solid #ef9a9a;     
}

.toast-img{
    width: 40px;
}

.toast-img-2{
    width: 100px;
}

.logo{
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violet{
    color: #8892BF;
}

.hidden{
    display: none;
}

main{
    margin-top: 4rem;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}

.hero .text-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 100%;
    gap: 4%;
}

.hero h1{
    font-size: 4.5rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}

.hero p{
    font-size: 1.4rem;
    text-align: center;
}

.hero-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.view-products{
    background-color: #8892BF;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.view-products img{
    width: 1.5rem;
}

.categories-btn{
    background-color: #ffffff;
    padding: 10px 40px;
    border-radius: 30px;
    margin-top: 20px;
    transition: .4s;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cool-btn{
    transition: .4s;
}

.cool-btn:hover{
    transform: translateY(-5px) scale(110%);
    cursor: pointer;
}

.cool-btn:active{
    transform: translateY(0px) scale(95%);
    opacity: .5;
    cursor: pointer;
}

.categories-btn span{
    color: black;
    font-size: 1rem;
}

.categories-btn img{
    width: 1.5rem;
}

.section-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.section-head img{
    width: 4rem;
}

.section-head h2{
    width: 6rem;
}

#product-section{
    padding: 30px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.2fr)); /* ! No sure here */
    gap: 1.5rem;
    padding: 1rem;
}

.product-card {
    background: #484848;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 300px;
    overflow: hidden;
    position: relative;
}

.product-card img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.product-card h3{
    text-align: left;
}

.product-card p{
    text-align: left;
}

.category-tag{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 4px;
}

.product-card-detail{
    padding: 5px 15px;
    margin-bottom: 80px;
}

.product-card-footer{
    border-top: 1px solid rgb(217, 217, 217);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product-card-footer p{
    font-size: 1.5rem;
}

.product-card-footer a{
    font-size: 1.1rem;
    background-color: #8892BF;
    padding: 7px 25px;
    border-radius: 4px;
    transition: .4s;
}

.product-card-footer a:hover{
    transform: scale(105%) translateY(-2px);
}

.product-card-footer a:active{
    transform: scale(95%) translateY(0px);
    opacity: .5;
}

#categories{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-grid-container{
    width: 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 8px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }

.category-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    padding: 30px 15px;
    border: 1px solid rgb(157, 157, 157);
    transition: .4s;
    height: 150px;
}

.category-btn:hover{
    border: 1px solid rgb(157, 157, 157);
    border-radius: 4px;
    cursor: pointer;
    transform: scale(105%);
    background-color: rgb(44, 44, 44);
}

.category-btn img{
    width: 80px;
}

.category-btn span{
    font-size: 1.2rem;
}

.top-left{
    border: 1px solid rgb(157, 157, 157);
    border-top-left-radius: 8px;
}

.top-right{
    border: 1px solid rgb(157, 157, 157);
    border-top-right-radius: 8px;
}

.bottom-left{
    border: 1px solid rgb(157, 157, 157);
    border-bottom-left-radius: 8px;
}

.bottom-right{
    border: 1px solid rgb(157, 157, 157);
    border-bottom-right-radius: 8px;
}
.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(29, 29, 29, 0.718);
    color: white;
    padding: 10px 20px;
}

.search-bar input:focus{
    outline: 0px;
}

.search-bar button{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 12px;
    border: 2px solid white;
}

.search-bar button img{
    width: 100%;
}

@keyframes fadein {
    from { opacity: 0; right: 0; }
    to { opacity: 1; right: 20px; }
}
  
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* General styles for mobile responsiveness */
@media (max-width: 768px) {
    html {
        scroll-behavior: smooth;
    }

    body{
        background-color: #1E201E;
        color: #f0f0f0;
        background-image: radial-gradient(rgba(255, 255, 255, 0.177) 2px, transparent 2px);
        background-size: 20px 20px; 
        /* background-image: url('../images/bg.gif');
        background-repeat: no-repeat;
        padding: 0;
        background-size: cover;
        background-position: center; */
    }

    #toast-container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
    
    .toast {
        padding: 5px 15px;
        font-weight: 400;
        margin-top: 10px;
        border-radius: 6px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        animation: fadein 0.5s, fadeout 0.5s 5.5s;
        font-family: sans-serif;
        box-shadow: 0px 2px 30px 6px rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .toast.error span, .toast.banned span{
        color: red;
    }

    .toast.success {
        background-color: #e6f9ec; 
        color: #2e7d32;            
        border: 1.5px solid #81c784; 
    }

    .toast.error, .toast.banned {
        background-color: #fdecea;      
        color: #780000;                
        border: 1.5px solid #ef9a9a;     
    }

    .toast-img{
        width: 40px;
    }

    .toast-img-2{
        width: 80px;
    }

    .logo{
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .violet{
        color: #8892BF;
        font-size: 1.2rem;
    }

    .white{
        font-size: 1.2rem;
    }

    .hidden{
        display: none;
    }

    main{
        margin-top: 4rem;
    }

    .hero {
        background-image: url(../images/hero.jpg);
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        width: 100%;
        height: 70vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 2; 
    }

    .hero .text-element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;
        height: 100%;
        gap: 2%;
    }

    .hero h1{
        font-size: 2rem;
        text-align: center;
        text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    }

    .hero p{
        font-size: 0.9rem;
        text-align: center;
        margin: 10px 50px;
    }

    .hero-btn-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .view-products{
        background-color: #8892BF;
        padding: 10px 25px;
        border-radius: 30px;
        transition: .4s;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: .9rem;
        margin-top: 0px;
    }

    .view-products img{
        width: 1rem;
    }

    .categories-btn{
        background-color: #ffffff;
        padding: 10px 25px;
        border-radius: 30px;
        transition: .4s;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: .9rem;
        margin-top: 0px;
    }

    .cool-btn{
        transition: .4s;
    }

    .cool-btn:hover{
        transform: translateY(-5px) scale(110%);
        cursor: pointer;
    }

    .cool-btn:active{
        transform: translateY(0px) scale(95%);
        opacity: .5;
        cursor: pointer;
    }

    .categories-btn span{
        color: black;
        font-size: .9rem;
    }

    .categories-btn img{
        width: 1rem;
    }

    .section-head{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
    }

    .section-head img{
        width: 2rem;
    }

    .section-head h2{
        width: 6rem;
    }

    #product-section{
        padding: 10px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr)); /* Adjusted to ensure better auto-layout */
        gap: 10px; /* Reduced gap for a smaller spacing */
        padding: 0.5rem;
    }

    .product-card {
        background: #484848;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        text-align: center;
        max-width: 210px;
        overflow: hidden;
        position: relative;
    }

    .product-card img{
        width: 200px;
        height: 200px;
        border-radius: 8px;
    }

    .product-card h3{
        text-align: left;
    }

    .product-card p{
        text-align: left;
        display: none;
    }

    .category-tag{
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: black;
        color: white;
        padding: 5px 10px;
        border: 4px;
    }

    .product-card-detail{
        padding: 5px 15px;
        margin-bottom: 80px;
    }

    .product-card-footer{
        border-top: 1px solid rgb(217, 217, 217);
        padding: 15px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .product-card-footer p{
        font-size: 1.5rem;
    }

    .product-card-footer a{
        font-size: 1.1rem;
        background-color: #8892BF;
        padding: 7px 25px;
        border-radius: 4px;
        transition: .4s;
    }

    .product-card-footer a:hover{
        transform: scale(105%) translateY(-2px);
    }

    .product-card-footer a:active{
        transform: scale(95%) translateY(0px);
        opacity: .5;
    }

    #categories{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category-grid-container {
        width: 80%;
        margin: 0 auto;
        max-width: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        border-radius: 8px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; } /* Row 1, Column 1 */
    .div2 { grid-area: 1 / 2 / 2 / 3; } /* Row 1, Column 2 */
    .div3 { grid-area: 2 / 1 / 3 / 2; } /* Row 2, Column 1 */
    .div4 { grid-area: 2 / 2 / 3 / 3; } /* Row 2, Column 2 */
    .div5 { grid-area: 3 / 1 / 4 / 2; } /* Row 3, Column 1 */
    .div6 { grid-area: 3 / 2 / 4 / 3; } /* Row 3, Column 2 */
    .div7 { grid-area: 4 / 1 / 5 / 2; } /* Row 4, Column 1 */
    .div8 { grid-area: 4 / 2 / 5 / 3; } /* Row 4, Column 2 */

    .category-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(58, 58, 58);
        padding: 10px 5px;
        border: 1px solid rgb(157, 157, 157);
        transition: .4s;
        height: 80px;
    }

    .category-btn:hover{
        border: 1px solid rgb(157, 157, 157);
        border-radius: 4px;
        cursor: pointer;
        transform: scale(105%);
        background-color: rgb(44, 44, 44);
    }

    .category-btn img{
        width: 40px;
    }

    .category-btn span{
        font-size: .9rem;
    }

    .top-left{
        border: 1px solid rgb(157, 157, 157);
        border-top-left-radius: 8px;
    }

    .top-right{
        border: 1px solid rgb(157, 157, 157);
        border-top-right-radius: 8px;
    }

    .bottom-left{
        border: 1px solid rgb(157, 157, 157);
        border-bottom-left-radius: 8px;
    }

    .bottom-right{
        border: 1px solid rgb(157, 157, 157);
        border-bottom-right-radius: 8px;
    }
    .search-bar{
        width: 60%;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .search-bar input{
        width: 400px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid rgb(255, 255, 255);
        background-color: rgba(29, 29, 29, 0.718);
        color: white;
        padding: 5px 10px;
    }
    
    .search-bar button{
        border-radius: 25px;
        width: 50px;
        height: 40px;
        padding: 10px;
        border: 2px solid white;
    }

    .search-bar button img{
        width: 100%;
    }
}
