.login-page{
    width: 100vw;
    height: 100vh;
}

.login-main{
    width: 60vw;
    height: auto;
    background-color: rgba(64, 64, 64);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden; 
    box-shadow: 1px 2px 30px 6px rgba(0,0,0,0.75);
}

.login-main .left{
    width: 50%;
    position: relative; 
    background-image: url('../images/pexels-peng-louis-587527-1643456.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 20px;
}

.login-main .left .text-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.login-main .left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 30px;
    z-index: 1; 
}

.login-main .left .logo{
    font-size: 2rem;
}

.login-main .left .logo img{
    width: 2rem;
}

.login-main .left p{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.view-products-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-products{
    background-color: #8892BF;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .4s;
}

.view-products:hover{
    transform: translateY(-5px) scale(110%);
    cursor: pointer;
}

.view-products:active{
    transform: translateY(0px) scale(95%);
    opacity: .5;
    cursor: pointer;
}

.login-main .right{
    width: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form{
    padding: 40px 20px;
    position: relative;
    width: 100%;
}

form h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

form label{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem
}

form input{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 2px solid rgb(25, 25, 25);
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(39, 39, 39);
    outline: none;
}

form input:focus{
    outline: none; /* Ensures no outline appears when focused */
    border-color: #8892BF; /* Optional: Add a custom border color for focus */
}


form .black-btn{
    padding: 12px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .4s;
    display: block;
    margin: 15px 0;
}

form .black-btn:hover{
    cursor: pointer;
    transform: scale(102%) translateY(-2px);
}

form .black-btn:active{
    cursor: pointer;
    transform: scale(98%) translateY(0px);
}

form .white-btn{
    display: block;
    padding: 12px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: .4s;
    text-align: center;
    margin-bottom: 20px;
}

form .white-btn:hover{
    cursor: pointer;
    transform: scale(102%) translateY(-2px);
}

form .white-btn:active{
    cursor: pointer;
    transform: scale(98%) translateY(0px);
}

.password-wrapper{
    position: relative;
}

.show-password{
    width: 1.5rem;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: .4s;
}

.show-password:hover{
    cursor: pointer;
    transform: translateY(-4px);
}


@media (max-width: 768px) {
    .login-page{
        width: 100vw;
        height: 100vh;
    }

    .login-main{
        width: 90vw;
        height: 90%;
        background-color: rgba(64, 64, 64);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden; 
        box-shadow: 1px 2px 30px 6px rgba(0,0,0,0.75);
    }

    .login-main .left{
        width: 100%;
        height: 30%;
        position: relative; 
        background-image: url('../images/pexels-peng-louis-587527-1643456.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        padding: 20px;
    }

    .login-main .left .text-content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .login-main .left::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        border-radius: 30px;
        z-index: 1; 
    }

    .login-main .left .logo{
        font-size: 1rem;
    }

    .login-main .left .logo img{
        width: 1rem;
    }

    .login-main .left p{
        font-size: 1rem;
        text-align: center;
        margin: 5px;
    }

    .view-products-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .view-products{
        background-color: #8892BF;
        padding: 5px 15px;
        border-radius: 30px;
        transition: .4s;
        margin-top: 0;
    }

    .view-products:hover{
        transform: translateY(-5px) scale(110%);
        cursor: pointer;
    }

    .view-products:active{
        transform: translateY(0px) scale(95%);
        opacity: .5;
        cursor: pointer;
    }

    .login-main .right{
        width: 100%;
        height: 70%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form{
        padding: 5px 20px;
        position: relative;
        width: 100%;
    }

    form h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 5px;
    }

    form label{
        display: block;
        margin-bottom: 10px;
        font-size: 1rem
    }

    form input{
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 2px solid rgb(25, 25, 25);
        padding: 10px;
        margin-bottom: 20px;
        color: white;
        background-color: rgb(39, 39, 39);
        outline: none;
    }

    form input:focus{
        outline: none; /* Ensures no outline appears when focused */
        border-color: #8892BF; /* Optional: Add a custom border color for focus */
    }


    form .black-btn{
        padding: 12px;
        width: 100%;
        background-color: black;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: 500;
        transition: .4s;
        display: block;
        margin: 15px 0;
    }

    form .black-btn:hover{
        cursor: pointer;
        transform: scale(102%) translateY(-2px);
    }

    form .black-btn:active{
        cursor: pointer;
        transform: scale(98%) translateY(0px);
    }

    form .white-btn{
        display: block;
        padding: 12px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: 2px solid white;
        border-radius: 8px;
        font-size: 0.9rem;
        font-weight: 500;
        transition: .4s;
        text-align: center;
        margin-bottom: 20px;
    }

    form .white-btn:hover{
        cursor: pointer;
        transform: scale(102%) translateY(-2px);
    }

    form .white-btn:active{
        cursor: pointer;
        transform: scale(98%) translateY(0px);
    }

}