.signup-page{
    width: 100vw;
    height: 100vh;
}

.signup-main{
    width: 60vw;
    height: 90%;
    background-color: rgb(243, 243, 243);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden; 
    box-shadow: 1px 2px 15px 6px rgba(0,0,0,0.5);
}

.signup-main .left{
    width: 50%;
    position: relative; 
    background-image: url('../images/sign-up-img.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 20px;
}

.signup-main .left .text-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.signup-main .left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    border-radius: 30px;
    z-index: 1; 
}

.signup-main .left .logo{
    font-size: 2rem;
}

.signup-main .left .logo img{
    width: 2rem;
}

.signup-main .left p{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.view-products-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-products{
    background-color: #8892BF;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .4s;
}

.view-products:hover{
    transform: translateY(-5px) scale(110%);
    cursor: pointer;
}

.view-products:active{
    transform: translateY(0px) scale(95%);
    opacity: .5;
    cursor: pointer;
}

.signup-main .right{
    width: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form{
    padding: 40px 20px;
    position: relative;
    width: 100%;
}

form h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #202020;
}

form label{
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #202020;
}

form input{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 2px solid rgb(84, 84, 84);
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(26, 26, 26);
    background-color: rgb(229, 229, 229);
    outline: none;
}

form input:focus{
    outline: none; /* Ensures no outline appears when focused */
    border-color: #000000; /* Optional: Add a custom border color for focus */
}


form .black-btn{
    padding: 12px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .4s;
    display: block;
    margin: 15px 0;
}

form .black-btn:hover{
    cursor: pointer;
    transform: scale(102%) translateY(-2px);
}

form .black-btn:active{
    cursor: pointer;
    transform: scale(98%) translateY(0px);
}

form .white-btn{
    display: block;
    padding: 12px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(35, 35, 35);
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: .4s;
    text-align: center;
    margin-bottom: 20px;
}

form .white-btn:hover{
    cursor: pointer;
    transform: scale(102%) translateY(-2px);
}

form .white-btn:active{
    cursor: pointer;
    transform: scale(98%) translateY(0px);
}

form .signup-btn{
    padding: 12px;
    width: 100%;
    background-color: #8f99c4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .4s;
    margin: 15px 0;
}

form .signup-btn:hover{
    cursor: pointer;
    transform: scale(102%) translateY(-2px);
}

form .signup-btn:active{
    cursor: pointer;
    transform: scale(98%) translateY(0px);
}

.show{
    display: block;
}

.radio-group{
    display: flex;
    gap: 20px;
}

.choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
    padding: 5px 25px;
    border-radius: 8px;
    border: 2px rgb(42, 42, 42) dashed;
}

.choice span{
    font-size: 1.3rem;
}

.choice input{
    width: 2rem;
    margin: 0;
}

.selected{
    background-color: #8f99c4;
    border: 0px white solid;
    color: white;
}

.page-indicator{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-indicator img{
    width: 70px;
}

.disable-btn{
    opacity: .4;
    cursor: not-allowed;
    padding: 12px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .4s;
    display: block;
    margin: 15px 0;
}

.disable-btn:hover{
    opacity: .4;
    cursor: not-allowed;
}

.middle p{
    color: white;
    text-shadow: 2px 2px 5px rgba(26, 26, 26, 0.8); 
}